.box-listapostagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resumop {
    text-align: justify;
    padding: 0 80px 0 50px;
}

.containerr {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 70px 0 130px;
}
