.container{
    align-items: center;
    justify-content: center;
    direction: row;
}

.subcontainer {
    align-items: center;
}

.subbox {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6px;
}

.outrobox {
    align-items: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}


.footerbaixo {
    background-color: #212121;
    height: 70px;
}

.footerbaixo1 {
    color: white ;
    text-align: center;

}

.footerbaixo2 {
    color: white ;
    text-align: center;
    padding-top: 4px;
}